# Environments
.venv/
venv/
env/
ENV/

# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE & Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
desktop.ini
